/*Définition des polices personnalisées*/
/*
*{
  border: solid 1px;
}
*/


*{
  margin: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
li {
  font-family: 'Raleway', sans-serif;
}
/*
body {
  margin:  auto;
}
*/
/*Elémens principaux de la page*/

section h1,
footer h1,
nav a {
  font-family: 'Raleway', sans-serif;
}

/* Header */

header {

  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-image: url(images/logo/Reservia.svg);
  background-repeat: no-repeat;
  background-position: 1rem 1rem;
  padding: 0;
  margin-top: 0;
}

/*Navigation*/

nav {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-end;
  margin: -1rem 0 0 0;
}

nav a {
  height: 3rem;
  display: block;
  font-size: 1.1rem;
  text-decoration: none;
  width: 50%;
  border-bottom: 3px solid #f2f2f2;
  text-align: center;
  margin-top: -1rem;
  padding-top: 1rem;
  border-top: 2px solid transparent;
}

nav a:hover {
  color: #0065fc;
  border-top: 3px solid transparent;
  border-bottom: 3px solid #0065fc;
}

nav a.sinscrire {
  order: -2;
  margin-left: 50%;
  margin-top: 0.7rem;
  padding-top: 2rem;
  padding-left: 5rem;
}

nav a.sinscrire,
nav a.sinscrire:hover {
  border-bottom: 2px solid transparent;
}


/* Section recherche */

section#resarch {
  margin-top: 40px;
  margin-left: 1.2rem;
}

section#resarch h1, section#resarch p {
  margin-top: 1rem !important;
}

.around_input {
  display: flex;
  padding-top: 15px;
  padding-bottom: 30px;
  margin-top: 1.5rem;
}
.localisation {
  color: #000;
  font-size: 1.2rem;
  font-weight: bold;
  border: 1px solid #f2f2f2;
  padding: 0.9rem;
  background-color: #f2f2f2;
  border-radius: 0.8rem 0 0 0.8rem;
}

input[type='text'] {
  padding: 1rem;
  font-size: 1.2rem;
  margin-right: -20px;
  border: 1px solid #ddd;
  border-radius: 2px;
  font-family: 'Raleway', sans-serif;
}
#name {
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
}

.recherche {
  color: #fff;
  font-size: 1.2rem;
  padding: 1rem;
  background-color: #0065fc;
  border-radius: 0.7rem 0.7rem 0.7rem 0.7rem;
  font-family: 'Font Awesome 5 Free';
  border: 1px solid #deebff;
  font-weight: 900;
}

.recherche::after {
    content: '\f002';
}

#resarch {
  margin-top: 40px;
  margin-left: 1.2rem;
}

.elmt-1 {
  font-size: 2rem;
  font-weight: bold;
}

.filtre {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
}
.p_filtre {
  padding: 0 1.2rem 0.8rem 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
}
filtre {
  border: 2px solid #f2f2f2;
  margin: 0.5rem 0.5rem 0.5rem 0.6rem;
  display: inline-block;
  padding-right: 0.75rem;
  border-radius: 3rem;
  font-family: 'Raleway', sans-serif;
}

.links-1 {
  text-decoration: none;
}

filtre:hover {
  background-color: #deebff;
}

filtre::before {
  color: #0065fc;
  background-color: #deebff;
  border-radius: 50%;
  display: inline-flex;
  width: 2.2rem;
  height: 2.2rem;
  align-items: center;
  justify-content: center;
  margin-left: -0.5rem;
  margin-right: 0.5rem;
  font-family: 'Font Awesome 5 Free';
  border: 1px solid #deebff;
  font-weight: 900;
}

filtre.economique::before {
  content: '\f53a';
}
filtre.familliale::before {
  content: '\f1ae';
}
filtre.romantique::before {
  content: '\f004';
}

filtre.animaux::before {
  content: '\f6d3';
}

.fa_info {
  display: flex;
}

.fas.fa-info-circle {
  font-size: 1.5rem;
  margin: -0.6rem 0 2.5rem 0.5rem;
  padding-top: 22px;
  font-weight: 900;
}

.fa_info h4 {
  margin: 1rem 0 1.5rem 0.5rem;
}

/* Corps Section Hébergements à Marseilles */

main {
  display: flex;
  flex-direction: column;
  width: auto;
}
section#hebergements {
  order: 1;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  flex-direction: column;
  width: auto;
  background-color: white;
  margin-left: -1.6rem;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 1rem;
}

section#hebergements article h4, article p, article aside {
  padding: 0.25rem;
}

section#hebergements h1 {
  width: 100%;
  text-align: center;
  padding-left: 0rem;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

article.cannebiere {
  background: url('images/hebergements/4_small/Auberge La Cannebière.jpg') white
    center;
}

article.hotel_du_port {
  background: url('images/hebergements/4_small/Hôtel\ du\ Port.jpg') white
    center;
}

article.hotel_les_mouettes {
  background: url('images/hebergements/4_small/Hôtel\ Les\ mouettes.jpg') white
    center;
}

article.hotel_de_la_mer {
  background: url('images/hebergements/4_small/Hôtel\ de\ la\ mer.jpg') white
    center;
}

article.auberge_le_panier {
  background: url('images/hebergements/4_small/Auberge\ Le\ Panier.jpg') white
    center;
}

article.hotel_chez_amina {
  background: url('images/hebergements/4_small/Hôtel\ chez\ Amina.jpg') white
    center;
}

section#hebergements article {
  
  width: auto;
  border: solid 4px #f2f2f2;
  margin-left: 2.5rem;
  margin-right: 1.3rem;
  margin-bottom: 1rem;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  border-radius: 1rem;
}

section#hebergements article h4 {
  background-color: white;
  margin: 8rem 0 0 0;
  padding-top: 1rem !important;
  padding-left: 1rem !important;
}
section#hebergements article p {
  background-color: white;
  margin: 0;
  padding-left: 1rem;
}

section#hebergements article h4,
article p,
article aside {
  padding: 0.25rem;
}

section#hebergements article aside {
  color: #0065fc !important;
  background-color: white;
  display: block;
  height: 1.5rem;
  border-radius: 0 0 0.5rem 0.5rem;
  padding-left: 1rem !important;
}

section#hebergements a {
  width: 100%;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  padding: 1.5rem 0 0 0;
  margin-left: -5rem;
}

section#popular {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 0 0 0 0;
  margin-left: -1.2rem;
  margin-right: auto;
  background-color: #f2f2f2;
}

section#popular article {
  width: 78% !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  border-radius: 1rem !important;
  border: 3px solid white;
  margin-bottom: 1rem;
  margin-left: 3rem !important;
}

.links {
  display: block;
  text-decoration: none;
  color: #000;
}

.picto_popular {
  display: flex;
}

section#popular h1 {
  width: 100%;
  margin-left: 40px !important;
  margin-bottom: 2rem;
  margin-top: 2rem;
  text-align: center;
  padding-left: 0rem;
}
.progression {
  display: flex;
}

.fas.fa-chart-line {
  padding-top: 35px !important;
  font-size: 1.5rem;
  margin-left: 3rem;
  margin-right: 3rem;
}

section#popular article {
  background-color: #f2f2f2;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: column;
  border-radius: 0 0 0 0;
  margin-left: -1.2rem;
  margin-right: auto;
}

section#popular article h4 {
  background-color: white;
  margin: 0 0 0 8rem;
  padding-left: 1rem;
  padding-top: 0.9rem;
  border-radius: 0 0.35rem 0 0;
}

section#popular article p {
  background-color: white;
  margin: 0 0 0 8rem;
  padding-left: 1rem;
}

section#popular article aside {
  background-color: white;
  display: block;
  height: 2rem;
  border-radius: 0 0 0.5rem 0;
  margin: 0 0 0 8rem;
  padding-top: 2rem;
  padding-left: 1rem;
  color: #0065fc !important;
}

section#popular article.hotel_le_soleil_du_matin {
  background: url('images/hebergements/4_small/Hôtel\ le\ soleil\ du\ matin.jpg')
    white center;
}
section#popular article.au_coeur_de_leau_Chambre_dhote {
  background: url("images/hebergements/4_small/Au\ coeur\ de\ l'eau\ chambres\ d'hôtes.jpg")
    white center;
}
section#popular article.hotel_tout_bleu_et_blanc {
  background: url('images/hebergements/4_small/Hôtel\ tout\ Bleu\ et\ Blanc.jpg')
    white center;
}

/* Corps Section Activités à Marseilles */

section#activitesamarseilles {
  order: 1;
  width: auto;
  margin-top: 10rem;
} 

main section#activitesamarseilles h1 {
  text-align: center;
  margin-left: -5rem;
  margin-bottom: 1.5rem;
}

main section#activitesamarseilles {
  width: 100%;
  margin-top: 2.5rem;
}

.activities {
  width: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}

main section#activitesamarseilles article {
  margin-bottom: 1rem;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  border: solid 4px #f2f2f2;
  margin-left: 2rem;
  margin-right: 2.3rem;
}

.vieux_port, .pomegues, .ifrioul {
  background-color: white;
  margin-top: 8.8rem;
  padding-top: 0.5rem !important;
  padding-bottom: 1rem !important;
  padding-left: 1rem !important;
  border: solid 4px white;
  border-radius: 0 0 1rem 1rem;
}

article.le_vieux_port,
article.parc_national_des_calanques {
  border-radius: 1.3rem;
}

article.fort_de_pomegues,
article.iles_du_frioul,
article.notre_dame,
article.parc_longchamp {
  border-radius: 1.3rem;
}

.notredame_longchamp {
  margin-bottom: .5rem;
}

section#activitesamarseilles .pomegues_frioul,
.notredame_longchamp {
  display: flex;
  flex-direction: column;
  width: auto;
}


section#activitesamarseilles article.le_vieux_port,
    section#activitesamarseilles article.fort_de_pomegues,
    section#activitesamarseilles article.parc_longchamp,
    section#activitesamarseilles article.iles_du_frioul,
    section#activitesamarseilles article.parc_national_des_calanques
    {
      height: 190px;
      width: auto;
      
    }
  

.notre_dame_la_garde,
.p_lonchamp {
  background-color: white;
  margin-top: 8.8rem;
  padding-top: 0.5rem !important;
  padding-bottom: 1rem !important;
  padding-left: 1rem !important;
  border: solid 4px white;
  border-radius: 0 0 1rem 1rem;
}

section#activitesamarseilles article.le_vieux_port {
  background: url('images/activites/4_small/Vieux\ port.jpg') white center;
}

section#activitesamarseilles article.fort_de_pomegues {
  background: url('images/activites/4_small/Fort\ de\ Pomègues.jpg') white
    center;
}

section#activitesamarseilles article.iles_du_frioul {
  background: url('images/activites/4_small/Îles\ du\ Frioul.jpg') white center;
}

section#activitesamarseilles article.parc_national_des_calanques {
  background: url('images/activites/4_small/Parc\ National\ des\ Calanques.jpg')
    white center;
}

section#activitesamarseilles article.notre_dame {
  background: url('images/activites/4_small/Notre-Dame-de-la-Garde.jpg') white
    center;
}

section#activitesamarseilles article.parc_longchamp {
  background: url('images/activites/4_small/Parc\ Longchamp.jpg') white center;
}

/* Footer */

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
    height: auto;
    background-color: #f2f2f2;
    margin-top: 15px;
    padding-left: 25px;
    padding-bottom: 25px;
    text-decoration: none;
}

footer section {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  line-height: 2rem;
}

footer h3 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}


footer a {
  color: black;
  text-decoration: none;
}

/* @media */

@media screen and (min-width: 768px){

  header {
    padding: 1rem;
    margin-top: 3rem;
  }  
  nav {
    margin-top: 1rem;
}

nav a {
  width: 20%;
  border-top: 2px solid transparent;
  border-bottom: none;
}

nav a.sinscrire {
  order: initial;
  margin: 0;
  padding: 0;
}

.recherche{
  border-radius: 0 0.7rem 0.7rem 0;
}
.recherche::after {
  content: 'rechercher';
}

/* Corps Section populaires */

main {
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Corps Section populaires */
section#popular {
  margin-top: 2rem;
  width: auto;
  background-color: #f2f2f2;
  flex-wrap: wrap;
  flex-direction: initial;
  justify-content: space-around;
  padding-left: 27px;
  padding-right: 15px;
  border-radius: 1rem;
  
}

section#popular article {
  height: 232px;
  display: block;
  margin: 0 !important;
  width: 30% !important;
  border: 3px solid white;
  flex-direction: initial;
}


section#popular article h4 {
  background-color: white;
  margin: 8rem 0 0 0;
  padding-top: 1rem !important;
  padding-left: 1rem !important;
  border-radius: 0;
}
section#popular article p {
  background-color: white;
  margin: 0;
  padding-left: 1rem;
}

section#popular article aside {
  padding: 0 !important;
}

.hotel_le_soleil_du_matin h4,
.hotel_tout_bleu_et_blanc h4{
  padding-bottom: 1.2rem !important;
}

section#popular article aside {
  color: #0065fc !important;
  background-color: white;
  display: block;
  height: 1.5rem;
  margin: 0;
  border-radius: 0 0 0.5rem 0.5rem;
  padding-left: 1rem !important;
}



section#popular h1 {
  text-align: left;
  padding-left: .8rem;
  margin: 2rem 0 1.2rem 0 !important;
}

.progression {
  width: 100%;
}

/* Corps Section hébergements */ 


section#hebergements {
  width: auto;
  background-color: #f2f2f2;
  display: flex;
  flex-wrap: wrap;
  flex-direction: initial;
  justify-content: space-around;
  padding-left: 23px;
  padding-right: 15px;
  border-radius: 1rem;
}

section#hebergements h1 {
  text-align: left;
  padding-left: 1.2rem;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

section#hebergements article {
  width: 30%;
  margin: 0 0 1.5rem 1.2rem;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  border-radius: 1rem;
  border: 3px solid white;
}

section#hebergements a {
  text-align: left;
  padding: 1.5rem 0 1.5rem 0;
  margin-left: 1.5rem;
}


/* Section Activités à Marseilles */

main section#activitesamarseilles {
  width: 100%;
  margin-top: 2.5rem;
  display: flex;
  flex-wrap: wrap;
}

main section#activitesamarseilles article {
  margin-bottom: 1rem;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  border: solid 4px #f2f2f2;
}

section#activitesamarseilles article.le_vieux_port, 
section#activitesamarseilles article.fort_de_pomegues, 
section#activitesamarseilles article.parc_longchamp, 
section#activitesamarseilles article.iles_du_frioul, 
section#activitesamarseilles article.parc_national_des_calanques, 
section#activitesamarseilles article.notre_dame {
  height: 190px;
  width: 230px;
  margin: 0 .2rem .2rem .7rem;
}

main section#activitesamarseilles h1 {
  width: 100%;
  margin-bottom: 1.5rem;
  text-align: left;
  margin-left: 1rem;
}

.activities {
  justify-content: initial;
}

section#activitesamarseilles .pomegues_frioul, 
section#activitesamarseilles .notredame_longchamp {
  width: 97%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  flex-direction: initial;
  margin-top: -12.4rem !important;
}

section#activitesamarseilles .pomegues_frioul, 
.notredame_longchamp {
  margin-bottom: 2rem;
  margin-left: 8.5rem;
}


/* Footer */

footer{
      flex-direction: initial;
  margin-left: -3rem;
}

}
/*
@media screen and (min-width: 1024px){

  .au_coeur_de_leau_Chambre_dhote h4{
    margin-top: 9.2rem !important;
  }
 
  section#activitesamarseilles .pomegues_frioul, 
  .notredame_longchamp {
    margin-left: 11.2rem;
  }

  section#activitesamarseilles article.le_vieux_port, section#activitesamarseilles article.fort_de_pomegues, section#activitesamarseilles article.parc_longchamp, section#activitesamarseilles article.iles_du_frioul, section#activitesamarseilles article.parc_national_des_calanques, section#activitesamarseilles article.notre_dame {
    width: 306px;

    /*margin: 0 .2rem .2rem .7rem;
}

  section#activitesamarseilles article.le_vieux_port{
    margin-left: 1rem;
  }

  footer{
    margin-left: -7rem;
  }
}
*/
@media screen and (min-width: 1024px){
/*
*{
  border: solid 1px blue;
}*/
/*
body{
  width: 1199px;
}*/
main{
  flex-direction: initial;
  /*margin-left: 3rem;
  margin-right: 1rem;*/
}
 
.filtre {
  display: flex;
  font-size: 1.2rem;
  font-weight: bold;
}
.p_filtre {
  padding-top: 10px;
  padding-right: 15px;
  font-size: 1.2rem;
  font-weight: bold;
}
filtre {
  border: 3px solid #f2f2f2;
  margin: 0.6rem 2rem 0.5rem 0.6rem;
  display: inline-block;
  padding-right: 0.75rem;
  border-radius: 3rem;
  font-family: 'Raleway', sans-serif;
}

.links-1 {
  text-decoration: none;
}
filtre:hover {
  background-color: #deebff;
}

filtre::before {
  color: #0065fc;
  background-color: #deebff;
  border-radius: 50%;
  display: inline-flex;
  width: 3.2rem;
  height: 3.2rem;
  align-items: center;
  justify-content: center;
  margin-left: -0.5rem;
  margin-right: 0.5rem;
  font-family: 'Font Awesome 5 Free';
  border: 1px solid #deebff;
  font-weight: 900;
}


/* Corps Section hébergements*/

section#hebeergement article{

  margin: 0 0 1.5rem -.2rem;
}
section#hebergements {
  order: initial;
  width: 63%;
  background-color: #f2f2f2;
  padding-right: 1.7rem;
  padding-left: 0rem !important;
  border-radius: 1rem;
  margin-left: .4rem;
}

section#hebergements a {
  width: 100%;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1.5rem;
}
section#hebergements h1 {
  width: 100%;
  padding-left: 1rem;
  margin-top: 2rem;
}

/* section populaires*/
section#popular {
width: 27%;
margin-top: 0;
background-color: #f2f2f2;
border-radius: 1rem;
margin: 0px !important;
padding-left: 0px !important;
}

section#popular h1 {
width: 100%;
margin: 2rem 0 0rem .5rem !important;
}
.progression {
display: flex;
}

.fas.fa-chart-line {
padding-top: 35px !important;
font-size: 1.5rem;
margin-left: 2rem;
}

section#popular article {
width: 90% !important;
height: 173px;
border-radius: 1rem;
border: 3px solid white;
margin-right: -0.7rem!important;
}

section#popular article h4 {
background-color: white;
margin: 0 0 0 12rem;
padding-left: 1rem;
padding-top: 3.6rem !important;
border-radius: 0 0.35rem 0 0;
}

section#popular article p {
background-color: white;
margin: 0 0 0 12rem;
padding-left: 1rem;
}

section#popular article aside {
background-color: white;
display: block;
height: 2rem;
border-radius: 0 0 0.5rem 0;
margin: 0 0 0 12rem;
padding-top: 2rem;
padding-left: 1rem;
color: #0065fc !important;
}

.hotel_le_soleil_du_matin h4,
.hotel_tout_bleu_et_blanc h4{
padding: 0!important;
}
.au_coeur_de_leau_Chambre_dhote h4{
padding-top: 4rem !important;
}

/*section activités à Marseilles*/

main section#activitesamarseilles {
width: 100%;
display: initial;
margin-top: 2.5rem;
}

main section#activitesamarseilles article {
width: 320px !important;
height: 400px;
margin-bottom: 1rem;
background-size: cover !important;
background-repeat: no-repeat !important;
border: solid 4px #f2f2f2;
}

.activities {
flex-direction: initial;
flex-wrap: initial;
margin-left: 1.2rem;
}
article.le_vieux_port,
article.parc_national_des_calanques {
border-radius: 1.3rem;
height: 406px !important;
margin-right: 1.2rem !important;
}

article.fort_de_pomegues,
article.iles_du_frioul,
article.notre_dame,
article.parc_longchamp {
border-radius: 1.3rem;
}

.vieux_port {
background-color: white;
margin-top: 22.2rem;
padding-top: 0.5rem;
padding-bottom: 1rem;
padding-left: 1rem;
border: solid 4px white;
border-radius: 0 0 1rem 1rem;
}

.fort_de_pomegues, .notre_dame{
  margin-bottom: 1.2rem !important;
  width: 320px !important;
}
/*
.pomegues_frioul, .notredame_longchamp  {
margin-left: 0px!important;
margin-bottom: 3rem;
}
*/

section#activitesamarseilles .pomegues_frioul,
section#activitesamarseilles .notredame_longchamp {
width: 320px !important;
height: 400px;
display: initial;
justify-content: initial;
margin-bottom: 2rem;
margin-right: 1.5rem;
margin-top: initial !important;
margin-left: initial;
}

section#activitesamarseilles article.fort_de_pomegues {
width: 320px !important;
height: 226px !important;
}

section#activitesamarseilles article.iles_du_frioul {
width: 320px !important;
height: 150px !important;
}

section#activitesamarseilles article.notre_dame {
width: 320px !important;
height: 190px !important;
}

section#activitesamarseilles article.parc_longchamp {
width: 320px !important;
height: 190px !important;
}

.pomegues {
background-color: white;
margin-top: 11rem;
padding-top: 0.9rem;
padding-bottom: 0.9rem;
padding-left: 1rem;
border: solid 4px white;
border-radius: 0 0 1rem 1rem;
}

.ifrioul {
background-color: white;
margin-top: 6.3rem;
padding-top: 0.5rem;
padding-bottom: 1rem;
padding-left: 1rem;
border: solid 4px white;
border-radius: 0 0 1rem 1rem;
}
.notre_dame_la_garde,
.p_lonchamp {
background-color: white;
margin-top: 8.8rem;
padding-top: 0.5rem !important;
padding-bottom: 1rem !important;
padding-left: 1rem !important;
border: solid 4px white;
border-radius: 0 0 1rem 1rem;
}



footer{
  flex-direction: initial;
}

footer section{
  padding: -2rem !important;
}

}

