/*Définition des polices personnalisées*/

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: 'Raleway', sans-serif;
}

body {
  margin: auto;
}

/* Elémens principaux de la page*/

section h1,
footer h1,
nav a {
  font-family: 'Raleway', sans-serif;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-image: url(images/logo/Reservia.svg);
  background-repeat: no-repeat;
  background-position: 1.2rem 1rem;
  padding: 0;
  margin-top: 0;
}

/*Navigation*/

nav {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-end;
  margin: -1rem 0 0 0;
}

nav a {
  height: 3rem;
  display: block;
  font-size: 1.1rem;
  text-decoration: none;
  width: 50%;
  border-bottom: 3px solid #f2f2f2;
  text-align: center;
  border-top: 2px solid transparent;
}

nav a:hover {
  color: #0065fc;
  border-top: 3px solid transparent;
  border-bottom: 3px solid #0065fc;
}

nav a.sinscrire {
  order: -2;
  margin-left: 50%;
  margin-top: 0.7rem;
  padding-top: 2rem;
  padding-left: 5rem;
}

nav a.sinscrire,
nav a.sinscrire:hover {
  border-bottom: 2px solid transparent;
}

/* Section recherche */

section#research {
  margin: 2rem 0.5rem 0 0.9rem;
}

section#research h1,
section#research p {
  margin-top: 1rem !important;
}

.around_input {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 30px;
  margin-top: 1.5rem;
}
.localisation {
  color: #000;
  font-size: 1.2rem;
  font-weight: bold;
  border: 1px solid #f2f2f3;
  padding: 0.9rem;
  background-color: #f2f2f2;
  border-radius: 0.8rem 0 0 0.8rem;
}

.around_input input[type='text'] {
  padding: 1rem;
  font-size: 1rem;
  margin-right: -20px;
  border: 2px solid #f2f2f2;
  border-radius: 2px;
  font-family: 'Raleway', sans-serif;
}
#name {
  font-weight: bold;
}

section#research p {
  font-weight: bold;
}

.recherche {
  color: #fff;
  font-size: 1rem;
  padding: 1.1rem;
  background-color: #0065fc;
  border-radius: 1rem;
  font-family: 'Font Awesome 5 Free';
  border: 1px solid #deebff;
  font-weight: 900;
}

.recherche::after {
  content: '\f002';
}

.filtre a {
  color: #000;
  text-decoration: none;
}

.filtre {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
}

.filtre input:hover {
  background-color: #deebff;
}

.p_filtre {
  padding: 0 1.2rem 0.8rem 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.filtre p {
  border: 3px solid #f2f2f2;
  margin: 0.5rem 0.5rem 0.5rem 0.6rem;
  display: inline-block;
  padding-right: 0.75rem;
  border-radius: 3rem;
  font-family: 'Raleway', sans-serif;
}

.filtre p:hover {
  background-color: #deebff;
}

.filtre p::before {
  color: #0065fc;
  background-color: #deebff;
  border-radius: 50%;
  display: inline-flex;
  width: 2.2rem;
  height: 2.2rem;
  align-items: center;
  justify-content: center;
  margin-left: -0.5rem;
  margin-right: 0.5rem;
  font-family: 'Font Awesome 5 Free';
  border: 1px solid #deebff;
  font-weight: 900;
}

.filtre p.economique::before {
  content: '\f53a';
}
.filtre p.familliale::before {
  content: '\f1ae';
}
.filtre p.romantique::before {
  content: '\f004';
}

.filtre p.animaux::before {
  content: '\f6d3';
}

.fa_info {
  display: flex;
}

.fas.fa-info {
  color: #0065fc;
  height: 2rem;
  width: 2rem;
  min-height: 2rem;
  min-width: 2rem;
  border: solid 1px #d9d9d9;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
}

.fa_info h4 {
  margin: 1rem 0 1.5rem 0.5rem;
}

/* Positionnement des sections */

section#hebergements {
  order: 1;
}

section#activitesamarseilles {
  order: 1;
}

/* Section Les plus populaires */

main {
  display: flex;
  flex-direction: column;
}

.progression {
  display: flex;
  justify-content: space-between;
}

i.fas.fa-chart-line {
  padding-top: 2rem;
  font-size: 1.4rem;
}

.fa-chart-line:before {
  content: '\f201';
  margin-left: -3rem;
}

section#popular {
  background-color: #f2f2f2;
  padding-bottom: 1.5rem;
}

.figurepopulaires {
  margin: 1.5rem;
  padding: 6px;
  display: flex;
  background-color: white;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 2px 1px 5px 2px rgb(209, 209, 209);
}

.figurepopulaires img {
  width: 130px;
  height: 150px;
  border-radius: 10px 0px 0px 10px;
  object-fit: cover;
}

.figcaptionpopulaires {
  margin-left: 5px;
  width: 154px;
  font-size: 12px;
}

section#popular h4 {
  font-weight: bold;
  font-size: 1.1rem;
}

section#popular p {
  margin-top: -10px;
}

.fa,
.fas {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-weight: 900;
}

.figurepopulaires i {
  margin-top: 30px;
}

.fa-star:before {
  content: '\f005';
}

section#popular h1 {
  padding: 0.5rem 0rem 0.5rem 1.5rem;
}

/* Section hebergements à Marseilles */

.figurehebergement {
  width: 320px;
  padding: 4px;
  background-color: white;
  border-radius: 20px;
  margin: auto;
  box-shadow: 2px 1px 5px 2px rgb(209, 209, 209);
  margin-bottom: 1.5rem;
}

.figurehebergement img {
  width: 320px;
  height: 120px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}

.figcaptionhebergement {
  line-height: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
}

section#hebergements h4 {
  font-weight: bold;
  font-size: 1.1rem;
}

section#hebergements p {
  margin-top: 23px;
}

figcaption i {
  color: #0065fc;
}

.fa-star:before {
  content: '\f005';
}

section#hebergements {
  display: flex;
  flex-direction: column;
}

section#hebergements h1 {
  margin-left: 1.5rem;
}

section#hebergements a {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1.5rem 0 0 1.5rem;
  display: block;
  text-decoration: none;
  color: #000;
}

/* Section Activités à Marseilles */

section#activitesamarseilles {
  margin-bottom: 1rem;
}

section#activitesamarseilles h1 {
  margin: 0 0 1.5rem 1.3rem;
}

.figureactivitesmarseilles {
  background-color: white;
  border-radius: 20px;
  border: 1px solid #f2f2f2;
  margin: 1rem auto;
  width: 320px;
}

.figureactivitesmarseilles img {
  width: 320px;
  height: 180px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}

.figcaptionactivitesmarseilles {
  align-items: center;
  margin-left: 30px;
  font-weight: bold;
}

section#activitesamarseilles h4 {
  font-weight: bold;
  font-size: 1.1rem;
}

section#activitesamarseilles {
  margin-top: 2rem;
}

section#activitesamarseilles .pomegues_frioul,
.notredame_longchamp {
  display: flex;
  flex-direction: column;
}

/* Footer */

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: column;
  height: auto;
  background-color: #f2f2f2;
  margin-top: 15px;
  padding-left: 25px;
  padding-bottom: 25px;
  text-decoration: none;
}

footer section {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  line-height: 2rem;
}

footer h3 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

footer a {
  color: black;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  body {
    margin: 0px;
    padding: 0px;
  }

  nav {
    margin-top: 1rem;
  }

  nav a {
    width: 20%;
    color: #000;
    text-align: center;
    border-top: 3px solid transparent;
    border-bottom: none;
  }

  nav a:hover {
    border-bottom: 3px solid transparent;
  }

  nav a.sinscrire {
    order: initial;
    margin: 0;
    padding: 0;
  }

  .recherche {
    border-radius: 0 0.7rem 0.7rem 0;
  }
  .recherche::after {
    content: 'Rechercher';
    font-family: 'Raleway', sans-serif;
  }

  .around_input {
    justify-content: initial;
  }

  filtre {
    margin: 0.5rem 0.1rem 0.5rem 0.6rem;
  }

  /* Section Les plus populaires */

  section#popular {
    display: flex;
    flex-wrap: wrap;
  }
  .progression {
    width: 100%;
  }

  section#popular h1 {
    padding-left: 1.5rem;
  }

  .figurepopulaires {
    display: initial;
    padding: 4px;
    width: 26vw;
    border-radius: 20px;
    margin: auto;
    margin-bottom: 1.5rem;
  }

  .figurepopulaires img {
    width: 100%;
    height: 120px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
  }

  .figcaptionpopulaires {
    line-height: initial;
    font-size: initial;
    margin-bottom: 5px;
    margin-left: 10px;
  }


  .fa-chart-line:before {
    margin-left: -4rem;
  }

  /* Section hébergements */

  section#hebergements {
    display: flex;
    flex-wrap: wrap;
    flex-direction: initial;
  }
  section#hebergements h1 {
    width: 100%;
  }

  .figurehebergement {
    width: 26vw;
  }

  .figurehebergement img {
    width: 100%;
    height: 120px;
  }

  section#hebergements h4 {
    font-weight: bold;
    font-size: 1.1rem;
  }

  section#hebergements p {
    margin-top: 23px;
  }

  section#hebergements a {
    width: 100%;
    text-align: left;
    padding: 1.5rem 0 1.5rem 0;
    margin-left: 1.5rem;
  }

  .figureactivitesmarseilles {
    width: 26vw;
    margin: 1.6rem;
  }

  .figureactivitesmarseilles img {
    width: 100%;
    height: 140px;
  }

  .activities {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  section#activitesamarseilles .pomegues_frioul,
  .notredame_longchamp {
    flex-direction: initial;
  }

  /* Footer */

  footer {
    flex-direction: initial;
    justify-content: initial;
  }

  footer section {
    margin: 0 4rem 0 0;
  }
}

@media screen and (min-width: 1280px) {
  body {
    margin-left: 1%;
    margin-right: 1%;
  }

  header {
    margin: 0 0 0 0.5rem;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
  }
  nav {
    margin: 0px;
  }

  nav a {
    width: 11%;
    padding-top: 2rem;
  }

  nav a:hover {
    color: #0065fc;
    border-top: 3px solid #0065fc;
  }

  nav a.sinscrire {
    padding-top: 2rem;
    margin: 0 3.4rem 0 -0.8rem;
  }

  section#research {
    padding-left: 1rem;
    margin-top: 5.5rem;
  }

  p.p_filtre {
    padding-top: 1rem;
  }

  .filtre {
    display: flex;
    align-items: baseline;
  }
  .filtre p {
    margin: 0.5rem 1rem 0.5rem 0.6rem;
    padding-right: 1.5rem;
  }

  .filtre::before {
    width: 3.2rem;
    height: 3.2rem;
  }

  main {
    flex-direction: initial;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  /* Section Hébergements à Marseilles */

  section#hebergements {
    order: initial;
  }

  section#hebergements {
    width: 64%;
    justify-content: center;
    background-color: #f2f2f2;
    border-radius: 1rem;
  }

  section#hebergements h1 {
    /*margin-left: 2rem;
    margin-bottom: -0.1rem;*/
    margin:1.2rem 0 -0.1rem 1.2rem;
  }

  .figurehebergement {
    width: 240px;
    margin: 1rem;
  }

  .figurehebergement img {
    width: 240px;
    height: 120px;
  }

  /* Section populaires */

  section#popular {
    width: 30%;
    border-radius: 1rem;
  }

  .progression {
    justify-content: space-around;
  }

  section#popular h1 {
    padding-left: 0.5rem;
  }

  .fa-chart-line:before {
    margin-left: -2rem;
  }

  .figurepopulaires {
    padding: 5px;
    display: flex;
    width: initial;
  }

  .figurepopulaires img {
    width: 147px;
    height: 165px;
    border-radius: 1rem 0 0 1rem;
  }

  /* Section activités à Marseilles */

  .activities {
    flex-wrap: nowrap;
  }

  .figureactivitesmarseilles {
    width: 21.5vw;
    margin: 1.6rem 1.2rem 1.6rem 1.2rem;
    box-shadow: 2px 1px 5px 2px rgb(218, 218, 218);
  }

  .figureactivitesmarseilles img {
    width: 100%;
  }

  section#activitesamarseilles .pomegues_frioul,
  section#activitesamarseilles .notredame_longchamp {
    display: block;
  }

  figure .vieuxport,
  figure .pnationalcalanques {
    height: 350px;
  }

  figure .fortdepomegues {
    height: 145px;
  }

  figure .ilesfrioul {
    height: 108px;
  }

  figure .notredame {
    height: 116px;
  }

  figure .parclongchamp {
    height: 135px;
  }

  /* Footer */
  footer section {
    margin: 0 14rem 0 0.5rem;
  }
}
