/*Définition des polices personnalisées*/

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
li {
  font-family: 'Raleway', sans-serif;
}

body {
  margin: 50px 20px 0 50px;
}

/*Elémens principaux de la page*/

section h1,
footer h1,
nav a {
  font-family: 'Raleway', sans-serif;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

/*Navigation*/

/*nav ul li:hover {
  border: solid 2px blue;
}*/

nav ul {
  list-style-type: none;
  display: flex;
}

nav li {
  padding: 1rem;
  border-top:2px solid transparent;
}

nav li:hover{
  border-top:2px solid blue;
}

nav a {
  font-size: 1.1rem;
  text-decoration: none;
}

.onglet_1 a, .onglet_3 a{
  color: #0065fc !important;
}
.onglet_2 a{
  color: #000 !important;
}

/* Section recherche */

.around_input {
  display: flex;
  padding-top: 15px;
  padding-bottom: 30px;
}
.localisation {
  color: #000;
  font-size: 1.2rem;
  font-weight: bold;
  border: 1px solid #f2f2f2;
  padding: 0.9rem;
  background-color: #f2f2f2;
  border-radius: 0.6rem 0 0 0.6rem;
}

input[type='text'] {
  padding: 1rem;
  font-size: 1.2rem;
  margin-right: -20px;
  border: 1px solid #ddd;
  border-radius: 2px;
  font-family: 'Raleway', sans-serif;
}
#name {
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
}

.button_1 {
  color: #fff;
  font-size: 1.2rem;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  border: 1px solid #0065fc;
  padding: 1rem;
  background-color: #0065fc;
  border-radius: 0 0.6rem 0.6rem 0;
}

#resarch {
  margin-top: 40px;
}

.elmt-1 {
  font-size: 2rem;
  font-weight: bold;
}

.filtre {
  display: flex;
  font-size: 1.2rem;
  font-weight: bold;
}
.p_filtre {
  padding-top: 10px;
  padding-right: 15px;
  font-size: 1.2rem;
  font-weight: bold;
}
filtre {
  border: 3px solid #f2f2f2;
  margin: 0.6rem 2rem 0.5rem 0.6rem;
  display: inline-block;
  padding-right: 0.75rem;
  border-radius: 3rem;
  font-family: 'Raleway', sans-serif;
}

.links-1 {
  text-decoration: none;
}
filtre:hover {
  background-color: #deebff;
}

filtre::before {
  color: #0065fc;
  background-color: #deebff;
  border-radius: 50%;
  display: inline-flex;
  width: 3.2rem;
  height: 3.2rem;
  align-items: center;
  justify-content: center;
  margin-left: -0.5rem;
  margin-right: 0.5rem;
  font-family: 'Font Awesome 5 Free';
  border: 1px solid #deebff;
  font-weight: 900;
}

filtre.economique::before {
  content: '\f53a';
}
filtre.familliale::before {
  content: '\f1ae';
}
filtre.romantique::before {
  content: '\f004';
}

filtre.animaux::before {
  content: '\f6d3';
}

/* Corps Section Hébergements à Marseilles */

main {
  display: inline-flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
}
section#hebergements {
  width: 63%;
  background-color: #f2f2f2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: -40px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 1rem;
}

section#hebergements a {
  width: 100%;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1.5rem;
}
section#hebergements section h1 {
  width: 100%;
}

article.cannebiere {
  background: url('images/hebergements/4_small/Auberge La Cannebière.jpg') white
    center;
}

article.hotel_du_port {
  background: url('images/hebergements/4_small/Hôtel\ du\ Port.jpg') white
    center;
}

article.hotel_les_mouettes {
  background: url('images/hebergements/4_small/Hôtel\ Les\ mouettes.jpg') white
    center;
}

article.hotel_de_la_mer {
  background: url('images/hebergements/4_small/Hôtel\ de\ la\ mer.jpg') white
    center;
}

article.auberge_le_panier {
  background: url('images/hebergements/4_small/Auberge\ Le\ Panier.jpg') white
    center;
}

article.hotel_chez_amina {
  background: url('images/hebergements/4_small/Hôtel\ chez\ Amina.jpg') white
    center;
}

section#hebergements article {
  width: 30%;
  margin-bottom: 1rem;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  border-radius: 1rem;
  border: 3px solid white;
}

section#hebergements article h4 {
  background-color: white;
  margin: 8rem 0 0 0;
  padding-top: 1rem !important;
  padding-left: 1rem !important;
}
section#hebergements article p {
  background-color: white;
  margin: 0;
  padding-left: 1rem;
}

section#hebergements article h4,
article p,
article aside {
  padding: 0.25rem;
}

section#hebergements article aside {
  color: #0065fc !important;
  background-color: white;
  display: block;
  height: 1.5rem;
  border-radius: 0 0 0.5rem 0.5rem;
  padding-left: 1rem !important;
}

h1.elmt-elmt-2 {
  width: 100%;
  margin-left: -25px;
}

/* Corps Section Populaires */

section#popular {
  width: 30%;
  background-color: #f2f2f2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-radius: 1rem;
}

section#popular h1 {
  margin-left: -40px !important;
  padding-top: 10px;
}
.chartline {
  display: flex;
  margin-bottom: -50px;
}
.chart_line {
  font-weight: bold;
  font-size: 1.5em;
}

section#popular article {
  width: 85%;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  border-radius: 1rem;
  border: 3px solid white;
  margin: auto;
}

section#popular article h4 {
  background-color: white;
  margin: 0 0 0 8rem;
  padding-left: 1rem;
  padding-top: 0.9rem;
  border-radius: 0 0.35rem 0 0;
}

section#popular article p {
  background-color: white;
  margin: 0 0 0 8rem;
  padding-left: 1rem;
}

section#popular article aside {
  background-color: white;
  display: block;
  height: 2rem;
  border-radius: 0 0 0.5rem 0;
  margin: 0 0 0 8rem;
  padding-top: 2rem;
  padding-left: 1rem;
  color: #0065fc !important;
}

.fas.fa-chart-line {
  padding-top: 30px !important;
}

section#popular article.hotel_le_soleil_du_matin {
  background: url('images/hebergements/4_small/Hôtel\ le\ soleil\ du\ matin.jpg')
    white center;
}
section#popular article.au_coeur_de_leau_Chambre_dhote {
  background: url("images/hebergements/4_small/Au\ coeur\ de\ l'eau\ chambres\ d'hôtes.jpg")
    white center;
}
section#popular article.hotel_tout_bleu_et_blanc {
  background: url('images/hebergements/4_small/Hôtel\ tout\ Bleu\ et\ Blanc.jpg')
    white center;
}

/* Corps Section Activités à Marseilles */

.activities {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

main section#activitesamarseilles {
  width: 100%;
  margin-left: -27px;
  margin-top: 2.5rem;
}

main section#activitesamarseilles article {
  width: 22%;
  height: 404px;
  margin-bottom: 1rem;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  border: solid 4px #f2f2f2;
}

article.le_vieux_port,
article.parc_national_des_calanques {
  border-radius: 1.3rem;
}

article.fort_de_pomegues,
article.iles_du_frioul,
article.notre_dame,
article.parc_longchamp {
  border-radius: 1.3rem;
}

.vieux_port {
  background-color: white;
  margin-top: 22.2rem;
  padding-top: 0.5rem !important;
  padding-bottom: 1rem !important;
  padding-left: 1rem !important;
  border: solid 4px white;
  border-radius: 0 0 1rem 1rem;
}

.pomegues_frioul {
  margin-bottom: 3rem;
}
.notredame_longchamp {
  margin-bottom: 3rem;
}

section#activitesamarseilles .pomegues_frioul,
.notredame_longchamp {
  width: 22%;
  height: 400px;
  margin-bottom: 2rem;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

section#activitesamarseilles article.fort_de_pomegues {
  width: auto;
  height: 230px;
}

section#activitesamarseilles article.iles_du_frioul {
  width: auto;
  height: 150px;
}

section#activitesamarseilles article.notre_dame {
  width: auto;
  height: 190px;
}

section#activitesamarseilles article.parc_longchamp {
  width: auto;
  height: 190px;
}

.pomegues {
  background-color: white;
  margin-top: 11rem;
  padding-top: 0.9rem !important;
  padding-bottom: 0.9rem !important;
  padding-left: 1rem !important;
  border: solid 4px white;
  border-radius: 0 0 1rem 1rem;
}

.ifrioul {
  background-color: white;
  margin-top: 6.3rem;
  padding-top: 0.5rem !important;
  padding-bottom: 1rem !important;
  padding-left: 1rem !important;
  border: solid 4px white;
  border-radius: 0 0 1rem 1rem;
}

.ifrioul1 {
  background-color: white;
  margin-top: 8rem;
  padding-top: 0.5rem !important;
  padding-bottom: 1rem !important;
  padding-left: 1rem !important;
  border: solid 4px white;
  border-radius: 0 0 1rem 1rem;
}

.notre_dame_la_garde,
.p_lonchamp {
  background-color: white;
  margin-top: 8.8rem;
  padding-top: 0.5rem !important;
  padding-bottom: 1rem !important;
  padding-left: 1rem !important;
  border: solid 4px white;
  border-radius: 0 0 1rem 1rem;
}

section#activitesamarseilles article.le_vieux_port {
  background: url('images/activites/4_small/Vieux\ port.jpg') white center;
}

section#activitesamarseilles article.fort_de_pomegues {
  background: url('images/activites/4_small/Fort\ de\ Pomègues.jpg') white
    center;
}

section#activitesamarseilles article.iles_du_frioul {
  background: url('images/activites/4_small/Îles\ du\ Frioul.jpg') white center;
}

section#activitesamarseilles article.parc_national_des_calanques {
  background: url('images/activites/4_small/Parc\ National\ des\ Calanques.jpg')
    white center;
}

section#activitesamarseilles article.notre_dame {
  background: url('images/activites/4_small/Notre-Dame-de-la-Garde.jpg') white
    center;
}

section#activitesamarseilles article.parc_longchamp {
  background: url('images/activites/4_small/Parc\ Longchamp.jpg') white center;
}

.links {
  display: block;
  text-decoration: none;
  color: #000;
}

.picto_popular {
  display: flex;
}

.fas.fa-chart-line {
  padding-top: 40px;
  padding-left: 80px;
}
.elmt-elmt-2 {
  padding-top: 10px;
  padding-left: 40px;
}

.fa_info {
  display: flex;
}
.fas.fa-info-circle {
  padding-top: 22px;
  margin-right: 10px;
  font-weight: 900;
}

/* Footer */

footer {
  display: flex;
  height: 200px;
  background-color: #f2f2f2;
  margin-top: 40px;
  margin-left: -1rem;
  margin-right: 1.1rem;
  padding-left: 25px;
  text-decoration: none;

}

footer h3 {
  margin-right: 30px;
}
footer p a {
  color: black;
  text-decoration: none;
}
#about {
  margin-right: 170px;
}

/* @media */

@media all and (max-width: 1024px) {

  input[value='Rechercher']{
    display: none;
  }


  body {
    width: auto;
  }
 .filtre {
    display: block;
  }
.p_filtre{
  padding-left: 1rem;
}
  main {
    display: flex;
    flex-direction: column;
    width: auto;
  }

  section#popular{
    width: auto;
    display: flex;
    flex-direction: column;
    border-radius: 0 0 0 0;
    margin-left: -1.2rem;
    margin-right: auto;
  }

  section#popular article{
   
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  section#hebergements {
    order: 1;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: auto;
    background-color: white;
    margin-left: -1.6rem;
    margin-right:-1rem ;
    
  }

  section#hebergements article {
    width: auto;
    border: solid 4px #F2F2F2;
  }

  section#activitesamarseilles article {
    width: auto;
  }

  section#activitesamarseilles {
    order: 1;
    width: auto;
    margin-top: 10rem;
   
  }

  main section#activitesamarseilles h1{
    margin-left: 1.5rem !important;
}


  .activities {
    display: flex;
    flex-direction: column;
    width: auto;
    margin-left: 1.2rem;
    margin-right:-1.7rem ;
  }

  section#activitesamarseilles .pomegues_frioul, .notredame_longchamp {
    display: flex;
    flex-direction: column;
    width: auto;
  }


  section#activitesamarseilles article.le_vieux_port,
  section#activitesamarseilles article.fort_de_pomegues,
  section#activitesamarseilles article.parc_longchamp,
  section#activitesamarseilles article.iles_du_frioul,
  section#activitesamarseilles article.parc_national_des_calanques
  {
    height: 190px;
    width: auto;
    
  }

  .vieux_port {
    background-color: white;
    margin-top: 8.8rem;
    padding-top: 0.5rem !important;
    padding-bottom: 1rem !important;
    padding-left: 1rem !important;
    border: solid 4px white;
    border-radius: 0 0 1rem 1rem;
  }

.pomegues {
    background-color: white;
    margin-top: 8.8rem;
    padding-top: 0.5rem !important;
    padding-bottom: 1rem !important;
    padding-left: 1rem !important;
    border: solid 4px white;
    border-radius: 0 0 1rem 1rem;
  }

  .ifrioul {
    background-color: white;
    margin-top: 8.8rem;
    padding-top: 0.5rem !important;
    padding-bottom: 1rem !important;
    padding-left: 1rem !important;
    border: solid 4px white;
    border-radius: 0 0 1rem 1rem;
  }
 
  footer {
    display: flex;
    flex-direction: column;
    height: auto;
    margin-left: -.3rem;
  }

  footer p a{
    width: 100%;
  }

  .chartline {
    padding-bottom: 4.5rem;
    margin-right: 4.5rem;
    margin-left: 3.5rem;
  }
}
