/*Définition des polices personnalisées*/

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
li {
  font-family: 'Raleway', sans-serif;
}

body {
  margin: auto;
}

/* Elémens principaux de la page*/

section h1,
footer h1,
nav a {
  font-family: 'Raleway', sans-serif;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-image: url(images/logo/Reservia.svg);
  background-repeat: no-repeat;
  background-position: 1rem 1rem;
  padding: 0;
  margin-top: 0;
}

/*Navigation*/

nav {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-end;
  margin: -1rem 0 0 0;
}

nav a {
  height: 3rem;
  display: block;
  font-size: 1.1rem;
  text-decoration: none;
  width: 50%;
  border-bottom: 3px solid #f2f2f2;
  text-align: center;
  border-top: 2px solid transparent;
}

nav a:hover {
  color: #0065fc;
  border-top: 3px solid transparent;
  border-bottom: 3px solid #0065fc;
}

nav a.sinscrire {
  order: -2;
  margin-left: 50%;
  margin-top: 0.7rem;
  padding-top: 2rem;
  padding-left: 5rem;
}

nav a.sinscrire,
nav a.sinscrire:hover {
  border-bottom: 2px solid transparent;
}

/* Section recherche */

section#research {
  margin: 2rem 0.5rem 0 0.9rem;
}

section#research h1,
section#research p {
  margin-top: 1rem !important;
}

.around_input {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 30px;
  margin-top: 1.5rem;
}
.localisation {
  color: #000;
  font-size: 1.2rem;
  font-weight: bold;
  border: 1px solid #f2f2f2;
  padding: 0.9rem;
  background-color: #f2f2f2;
  border-radius: 0.8rem 0 0 0.8rem;
}

input[type='text'] {
  padding: 1rem;
  font-size: 1rem;
  margin-right: -20px;
  border: 2px solid #f2f2f2;
  border-radius: 2px;
  font-family: 'Raleway', sans-serif;
}
#name {
  font-weight: bold;
}

section#research p {
  font-weight: bold;
}

.recherche {
  color: #fff;
  font-size: 1rem;
  padding: 1.1rem;
  background-color: #0065fc;
  border-radius: 1rem;
  font-family: 'Font Awesome 5 Free';
  border: 1px solid #deebff;
  font-weight: 900;
}

.recherche::after {
  content: '\f002';
}

filtre a {
  color: #000;
  text-decoration: none;
}

filtre:hover {
  background-color: #deebff;
}

.filtre {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
}

.p_filtre {
  padding: 0 1.2rem 0.8rem 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
}

filtre {
  border: 3px solid #f2f2f2;
  margin: 0.5rem 0.5rem 0.5rem 0.6rem;
  display: inline-block;
  padding-right: 0.75rem;
  border-radius: 3rem;
  font-family: 'Raleway', sans-serif;
}

filtre:hover {
  background-color: #deebff;
}

filtre::before {
  color: #0065fc;
  background-color: #deebff;
  border-radius: 50%;
  display: inline-flex;
  width: 2.2rem;
  height: 2.2rem;
  align-items: center;
  justify-content: center;
  margin-left: -0.5rem;
  margin-right: 0.5rem;
  font-family: 'Font Awesome 5 Free';
  border: 1px solid #deebff;
  font-weight: 900;
}

filtre.economique::before {
  content: '\f53a';
}
filtre.familliale::before {
  content: '\f1ae';
}
filtre.romantique::before {
  content: '\f004';
}

filtre.animaux::before {
  content: '\f6d3';
}

.fa_info {
  display: flex;
}

.fas.fa-info-circle {
  font-size: 1.5rem;
  margin: -0.6rem 0 2.5rem 0.5rem;
  padding-top: 22px;
  font-weight: 900;
}

.fa_info h4 {
  margin: 1rem 0 1.5rem 0.5rem;
}

/* Positionnement des sections */

section#hebergements {
  order: 1;
}

section#activitesamarseilles {
  order: 1;
}

/* Corps Section Les plus populaires */

main {
  display: flex;
  flex-direction: column;
}

.progression {
  display: flex;
  justify-content: space-between;
}

i.fas.fa-chart-line {
  padding-top: 2rem;
  font-size: 1.4rem;
}

.fa-chart-line:before {
  content: '\f201';
  margin-left: -3rem;
}

section#popular {
  background-color: #f2f2f2;
  padding-bottom: 1.5rem;
}

section#popular h1 {
  padding: 0.5rem 0rem 0.5rem 1.5rem;
}

section#popular article {
  border-radius: 1.4rem !important;
  border: 6px solid white;
  margin: 0rem 1.2rem 0.8rem 1.4rem;
}

.overlaypopulaires {
  background-color: white;
  margin-left: 9rem;
}

section#popular h4,
section#popular p {
  margin: 0;
  padding: 1rem 0 0 1rem;
}

section#popular p {
  font-size: 0.8rem;
}

section#popular aside {
  padding: 1.5rem 0.5rem 1rem 1rem;
  color: #0065fc;
  font-size: small;
}

section#popular article.hotel_le_soleil_du_matin {
  background: url('images/hebergements/4_small/Hôtel\ le\ soleil\ du\ matin.jpg')
    white center;
}
section#popular article.au_coeur_de_leau_Chambre_dhote {
  background: url("images/hebergements/4_small/Au\ coeur\ de\ l'eau\ chambres\ d'hôtes.jpg")
    white center;
}
section#popular article.hotel_tout_bleu_et_blanc {
  background: url('images/hebergements/4_small/Hôtel\ tout\ Bleu\ et\ Blanc.jpg')
    white center;
}

/* Section hebergements à Marseilles */

section#hebergements {
  display: flex;
  flex-direction: column;
}

section#hebergements h1 {
  margin-left: 1.5rem;
}

section#hebergements article {
  border-radius: 1.4rem !important;
  border: 6px solid white;
  margin: 0rem 1.2rem 0.8rem 1.4rem;
  box-shadow: 0px 6px 6px 6px #f2f2f2;
}

.overlaymarseilles {
  background-color: white;
  margin-top: 8rem;
}

section#hebergements h4,
section#hebergements p {
  margin: 0;
  padding: 1rem 0 0 1rem;
}

section#hebergements p {
  font-size: 0.9rem;
}

section#hebergements aside {
  padding: 1rem 0.5rem 1rem 1rem;
  color: #0065fc;
  font-size: small;
}

article.cannebiere {
  background: url('images/hebergements/4_small/Auberge La Cannebière.jpg') white
    center;
}

article.hotel_du_port {
  background: url('images/hebergements/4_small/Hôtel\ du\ Port.jpg') white
    center;
}

article.hotel_les_mouettes {
  background: url('images/hebergements/4_small/Hôtel\ Les\ mouettes.jpg') white
    center;
}

article.hotel_de_la_mer {
  background: url('images/hebergements/4_small/Hôtel\ de\ la\ mer.jpg') white
    center;
}

article.auberge_le_panier {
  background: url('images/hebergements/4_small/Auberge\ Le\ Panier.jpg') white
    center;
}

article.hotel_chez_amina {
  background: url('images/hebergements/4_small/Hôtel\ chez\ Amina.jpg') white
    center;
}

section#hebergements a {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1.5rem 0 0 1.5rem;
  display: block;
  text-decoration: none;
  color: #000;
}

/* Section Activités à Marseilles */

section#activitesamarseilles {
  margin-top: 2rem;
}

section#activitesamarseilles h1 {
  margin: 0 0 1.5rem 1.3rem;
}

section#activitesamarseilles article {
  border-radius: 1.4rem !important;
  border: 0.5px solid #f2f2f2;
  margin: 0rem 1.2rem 0.8rem 1.4rem;
  box-shadow: 0px 6px 6px 6px #f2f2f2;
}

.overlayactivitesmarseilles {
  background-color: white;
  margin-top: 9rem;
  border-radius: 0 0 1.2rem 1.2rem;
}

section#activitesamarseilles h4 {
  margin: 0;
  padding-left: 1rem;
  padding: 1rem;
}

section#activitesamarseilles .pomegues_frioul,
.notredame_longchamp {
  display: flex;
  flex-direction: column;
}

article.le_vieux_port {
  background: url('images/activites/4_small/Vieux\ port.jpg') white round;
}

article.fort_de_pomegues {
  background: url('images/activites/4_small/Fort\ de\ Pomègues.jpg') white
    center;
}

article.iles_du_frioul {
  background: url('images/activites/4_small/Îles\ du\ Frioul.jpg') white round;
}

section#activitesamarseilles article.parc_national_des_calanques {
  background: url('images/activites/4_small/Parc\ National\ des\ Calanques.jpg')
    white round;
}

article.notre_dame {
  background: url('images/activites/4_small/Notre-Dame-de-la-Garde.jpg') white
    round;
}

article.parc_longchamp {
  background: url('images/activites/4_small/Parc\ Longchamp.jpg') white round;
}

/* Footer */

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: column;
  height: auto;
  background-color: #f2f2f2;
  margin-top: 15px;
  padding-left: 25px;
  padding-bottom: 25px;
  text-decoration: none;
}

footer section {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  line-height: 2rem;
}

footer h3 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

footer a {
  color: black;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  nav {
    margin-top: 1rem;
  }

  nav a {
    width: 20%;
    color: #000;
    text-align: center;
    border-top: 3px solid transparent;
    border-bottom: none;
  }

  nav a:hover {
    border-bottom: 3px solid transparent;
  }

  nav a.sinscrire {
    order: initial;
    margin: 0;
    padding: 0;
  }

  .recherche {
    border-radius: 0 0.7rem 0.7rem 0;
  }
  .recherche::after {
    content: 'Rechercher';
    font-family: 'Raleway', sans-serif;
  }

  .around_input {
    justify-content: initial;
  }

  filtre {
    margin: 0.5rem 0.1rem 0.5rem 0.6rem;
  }

  /* Section Les plus populaires */

  section#popular .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  section#popular h1 {
    padding-left: 0.8rem;
  }

  .progression {
    width: 100%;
  }

  .fas.fa-chart-line {
    margin-left: -4rem;
    margin-right: 0rem;
  }

  section#popular article {
    width: 28%;
    margin: 0 0 1.6rem 0;
  }

  .overlaypopulaires {
    margin-top: 8rem;
    margin-left: 0;
    height: 9rem;
  }

  /* Section hébergements */

  section#hebergements .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  section#hebergements h1 {
    width: 100%;
  }

  section#hebergements article {
    width: 27%;
    margin: 0 0 1.6rem 0;
  }

  section#hebergements a {
    width: 100%;
    text-align: left;
    padding: 1.5rem 0 1.5rem 0;
    margin-left: 1.5rem;
  }

  /* section activités à Marseilles */

  .activities {
    display: flex;
    flex-wrap: wrap;
  }

  section#activitesamarseilles article {
    width: 27.5vw;
  }

  section#activitesamarseilles h4 {
    font-size: 0.7rem;
  }

  .overlayactivitesmarseilles {
    border-radius: 0 0 1.3rem 1.3rem;
  }

  section#activitesamarseilles .pomegues_frioul,
  .notredame_longchamp {
    flex-direction: initial;
  }

  /* Footer */

  footer {
    flex-direction: initial;
    justify-content: initial;
  }

  footer section {
    margin: 0 4rem 0 0;
  }
}

@media screen and (min-width: 1280px) {
  header {
    margin: 0 0 0 0.5rem;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
  }
  nav {
    margin: 0px;
  }

  nav a {
    width: 11%;
    padding-top: 2rem;
  }

  nav a:hover {
    color: #0065fc;
    border-top: 3px solid #0065fc;
  }

  nav a.sinscrire {
    padding-top: 2rem;
  }

  section#research {
    padding-left: 1rem;
    margin-top: 5rem;
  }

  p.p_filtre {
    padding-top: 1rem;
  }

  .filtre {
    display: flex;
    align-items: baseline;
  }
  filtre {
    margin: 0.5rem 1rem 0.5rem 0.6rem;
    padding-right: 1.5rem;
  }

  filtre::before {
    width: 3.2rem;
    height: 3.2rem;
  }

  main {
    flex-direction: initial;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  /* Section Hébergements à Marseilles */

  section#hebergements {
    order: initial;
  }

  section#hebergements {
    width: 63%;
    justify-content: initial;
  }

  section#hebergements .wrapper {
    background-color: #f2f2f2;
    border-radius: 1rem;
    justify-content: initial;
  }

  section#hebergements article {
    margin: 1rem 0.5rem 0.7rem 1.6rem;
  }

  /* Section populaires*/

  section#popular {
    width: 30%;
    border-radius: 1rem;
  }

  .overlaypopulaires {
    margin-left: 9rem;
    margin-top: 0;
    height: 9rem;
  }

  section#popular article {
    width: 80%;
  }

  section#popular h1 {
    margin: 12px 0 24px 27px;
  }

  /* Section activités à Marseilles */

  section#activitesamarseilles .wrapper {
    margin-top: 1rem;
  }

  .activities {
    flex-wrap: nowrap;
  }

  section#activitesamarseilles .pomegues_frioul,
  section#activitesamarseilles .notredame_longchamp {
    display: block;
  }

  section#activitesamarseilles article {
    width: 21.5vw;
  }

  section#activitesamarseilles article.fort_de_pomegues {
    height: 230px;
    margin-bottom: 3rem;
  }

  section#activitesamarseilles article.iles_du_frioul {
    height: 214px;
  }

  section#activitesamarseilles article.notre_dame {
    height: 205px;
    margin-bottom: 3rem;
  }

  section#activitesamarseilles article.parc_longchamp {
    height: 241px;
  }

  .overlayactivitesmarseilles .p_lonchamp {
    padding-top: 0 !important;
  }

  section#activitesamarseilles h4 {
    font-size: initial;
  }

  section#activitesamarseilles h4 {
    padding: 1.5rem !important;
  }
  section#activitesamarseilles .le_vieux_port h4,
  section#activitesamarseilles .parc_national_des_calanques h4 {
    margin-top: 26.9rem;
  }

  section#activitesamarseilles .ifrioul {
    margin-top: 9.5rem;
  }

  section#activitesamarseilles .pomegues {
    margin-top: 10.2rem;
  }

  section#activitesamarseilles .notre_dame_la_garde {
    margin-top: 9rem;
  }

  section#activitesamarseilles .p_lonchamp {
    margin-top: 11rem;
  }

  footer section {
    margin: 0 14rem 0 1rem;
  }
}
